<h1>Contact Queries</h1>

{% for item in data %}
<div class="accordion" id="accordionExample">
  <div>
    <div class="card-header" id="heading{{ loop.index }}">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
        {{ item.name }} - {{ item.email }}}
        </button>
      </h2>
    </div>

    <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}" data-parent="#accordionExample">
      <div class="card-body">
        <p>Phone Number: {{ item.phone }}</p>
        <p>Queries: {{ item.query }}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
