<div class="container">
  <div class="row">
    <div class="col-md-3 bg-dark text-white p-3">
      <a href="/teacher-dashboard/" class="text-white" ><h3 class="mb-3">Dashboard</h3></a>
      <ul class="nav flex-column">
        <li class="nav-item py-3">
          <a class="text-white" href="contact-queries">Contact Queries</a>
        </li>
        <li class="nav-item py-3">
          <a class="text-white" href="students-list">List of Students</a>
        </li>
        <li class="nav-item py-3">
          <a class="text-white" href="videos-list">Manage Videos</a>
        </li>
        <li class="nav-item py-3">
          <a class="text-white" href="/logout/">Logout</a>
        </li>
      </ul>
    </div>