<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Video</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for video in videos %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ video[0] }}</td>
        <td><form action="/delete-video/{{ video[0] }}/{{ video[2] }}" method="post">
          <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this video?');">Delete</button>
        </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>