{% include "header.html" %}
<div class="jumbotron mb-0">
  <h1 class="display-4 text-center">Create A Topic</h1>
  <form action="/topics/create" method="post" class="mx-auto py-5 w-50">
    <div class="form-group">
      <label for="title" class="font-weight-bold">Title Of The Topic:</label>
      <input type="text" class="form-control" id="title" name="title" required>
      <div class="invalid-feedback">Please enter a title for the topic.</div>
    </div>
    <div class="form-group">
      <label for="description" class="font-weight-bold">Description</label>
      <input name="description" type="hidden">
      <div id="editor-container"></div>
      <div class="invalid-feedback">Please enter a description for the topic.</div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Post The Topic</button>
  </form>
</div>
<script>
var quill = new Quill('#editor-container', {
  modules: {
    toolbar: [
      ['bold', 'italic'],
      ['link', 'blockquote', 'code-block', 'image'],
      [{ list: 'ordered' }, { list: 'bullet' }]
    ]
  },
  placeholder: 'Compose an epic...',
  theme: 'snow'
});

var form = document.querySelector('form');
form.onsubmit = function() {
  // Populate hidden form on submit
  var description = document.querySelector('input[name=description]');
  description.value = quill.root.innerHTML;
};
</script>
{% include "footer.html" %} 