{% include "header.html" %}

<section class="container mt-5">
  <h1 class="mb-3">{{ topic[1] }}</h1>
  <small class="text-muted mb-3 d-block">Posted by <a href="#">{{ topic[5] }}</a> on {{ topic[3] }}</small>
  <p class="mb-4">{{ topic[2] }}</p>
  <form action="/replies/create" method="post">
    <div class="form-group">
      <label for="reply">Reply:</label>
      <textarea class="form-control" rows="3" id="reply" name="reply"></textarea>
    </div>
    <input type="hidden" name="topic_id" value="{{ topic[0] }}">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% for reply in replies %}
  <div class="container">
    <div class="replied-section">
      <p>{{ reply[2] }}</p>
      <div class="replied-info">
        <span class="username">{{ reply[6] }}</span>
        <span class="time">{{ reply[3] }}</span>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
{% include "footer.html" %}