{% include "header.html" %}
<div class="container">
  <h1 class="text-center mt-5 mb-5">About Us</h1>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <!-- Content for the first column goes here -->
      <img src="/static/img/surana-evening-college-kengeri-satelite-town-bangalore-evening-colleges-for-b-com-1l5ynvp.jpg" class="img-fluid mb-5">
    </div>
    <div class="col-lg-6 col-md-12">
      <!-- Content for the second column goes here -->
      <p>Welcome to Surana College's LMS, where you can access a wide range of educational videos taught by our highly qualified faculty. Our video library covers a variety of subjects, so you can learn at your own pace and on your own terms.</p>
      <p>At Surana College, we are committed to providing high-quality education to our students. With our LMS, we aim to make it easy for you to access our educational resources and continue learning no matter where you are.</p>
      <p>Thank you for choosing Surana College as your learning partner. We hope you find our LMS useful and informative.</p>
      <a href="/contact" class="btn btn-primary" style="background-color: #421b9b;">Contact Us</a>
    </div>
  </div>
</div>
{% include "footer.html" %}