<div class="container mt-5 mb-5">
  <div class="row">
      <div class="col text-center mb-5">
        <h2 class="display-4 text-center">Our Courses
        </h2>
        <p class="lead">Lorem ipsum dolor sit amet at enim hac integer volutpat maecenas pulvinar. 
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card text-white card-has-bg click-col" style="background-image:url('/static/img/chip-g80ccc1866_1280.png');">
          <img class="card-img d-none" src="/static/img/chip-g80ccc1866_1280.png" alt="Microprocessors">
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <h4>
                <a class="text-white" href="/dcn/course-videos/">Data Communications And Networking 
                </a>
              </h4>
              <small>
                <i class="far fa-clock">
                </i> Date Updated: October 15, 2020
              </small>
            </div>
            <div class="card-footer">
              <div class="media">
                <img class="mr-3 rounded-circle" src="https://assets.codepen.io/460692/internal/avatars/users/default.png" alt="Generic placeholder image" style="max-width:50px">
                <div class="media-body">
                  <h6 class="my-0 text-white d-block">Teacher's Name
                  </h6>
                  <small>Professor Of Course
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card text-white card-has-bg click-col" style="background-image:url('/static/img/chip-g80ccc1866_1280.png');">
          <img class="card-img d-none" src="/static/img/chip-g80ccc1866_1280.png" alt="Microprocessors">
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <h4>
                <a class="text-white" href="/mp/course-videos/">Microprocessors 
                </a>
              </h4>
              <small>
                <i class="far fa-clock">
                </i> Date Updated: October 15, 2020
              </small>
            </div>
            <div class="card-footer">
              <div class="media">
                <img class="mr-3 rounded-circle" src="https://assets.codepen.io/460692/internal/avatars/users/default.png" alt="Generic placeholder image" style="max-width:50px">
                <div class="media-body">
                  <h6 class="my-0 text-white d-block">Teacher's Name
                  </h6>
                  <small>Professor Of Course
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card text-white card-has-bg click-col" style="background-image:url('/static/img/chip-g80ccc1866_1280.png');">
          <img class="card-img d-none" src="/static/img/chip-g80ccc1866_1280.png" alt="Microprocessors">
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <h4 class="card-title mt-0 ">
                <a class="text-white" href="#">Computer Architecture 
                </a>
              </h4>
              <small>
                <i class="far fa-clock">
                </i> Date Updated: October 15, 2020
              </small>
            </div>
            <div class="card-footer">
              <div class="media">
                <img class="mr-3 rounded-circle" src="https://assets.codepen.io/460692/internal/avatars/users/default.png" alt="Generic placeholder image" style="max-width:50px">
                <div class="media-body">
                  <h6 class="my-0 text-white d-block">Teacher's Name
                  </h6>
                  <small>Professor Of Course
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>