<div class="container mt-5 mb-5">
  <div class="row">
      <div class="col text-center mb-5">
        <h2 class="display-4 text-center">Our Courses
        </h2>
        <p class="lead">Discover a world of learning with Surana College's LMS. Our courses cover a wide range of topics, delivered by experienced instructors, and designed to enhance your skills and knowledge. Browse our catalog today and start your learning journey.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card text-white card-has-bg click-col" style="background-image:url('/static/img/java.jpg'); background-size: cover; background-position: center;">
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <h4>
                <a class="text-white" href="/java/course-videos/">Java Programming 
                </a>
              </h4>
              <small>
                <i class="far fa-clock">
                </i> Date Updated: 24 january 2023
              </small>
            </div>
            <div class="card-footer">
              <div class="media">
                <img class="mr-3 rounded-circle" src="/static/img/srinivas.jpg" alt="Generic placeholder image" style="max-width:50px">
                <div class="media-body">
                  <h6 class="my-0 text-white d-block">Teacher's Name
                  </h6>
                  <small>Srinivas Rao
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card text-white card-has-bg click-col" style="background-image:url('/static/img/chip-g80ccc1866_1280.png'); background-size: cover; background-position: center;">
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <h4>
                <a class="text-white" href="/mp/course-videos/">Microprocessors 
                </a>
              </h4>
              <small>
                <i class="far fa-clock">
                </i> Date Updated: 24 january 2023
              </small>
            </div>
            <div class="card-footer">
              <div class="media">
                <img class="mr-3 rounded-circle" src="/static/img/vidya.jpg" alt="Generic placeholder image" style="max-width:50px">
                <div class="media-body">
                  <h6 class="my-0 text-white d-block">Teacher's Name
                  </h6>
                  <small>Vidya
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card text-white card-has-bg click-col" style="background-image:url('/static/img/ca.png'); background-size: cover; background-position: center;">
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <h4 class="card-title mt-0 ">
                <a class="text-white" href="#">Computer Architecture 
                </a>
              </h4>
              <small>
                <i class="far fa-clock">
                </i> Date Updated: 24 january 2023
              </small>
            </div>
            <div class="card-footer">
              <div class="media">
                <img class="mr-3 rounded-circle" src="/static/img/rashmi.jpg" alt="Generic placeholder image" style="max-width:50px">
                <div class="media-body">
                  <h6 class="my-0 text-white d-block">Teacher's Name
                  </h6>
                  <small>Rashmi Eshwar
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>