  <footer class="ftco-bg-dark ftco-footer ftco-section">
	<div class=container>
	  <div class="row mb-5">
		<div class=col-md>
		  <div class="ftco-footer-widget mb-4 bg-primary p-4">
			<h2 class=ftco-heading-2>Surana College LMS
			</h2>
			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
			<ul class="list-unstyled ftco-footer-social mb-0">
			  <li class="fadeInUp ftco-animate ftco-animated">
				<a href=#>
				  <i class=icon-twitter>
				  </i>
				</a>
			  <li class="fadeInUp ftco-animate ftco-animated">
				<a href=#>
				  <i class=icon-facebook>
				  </i>
				</a>
			  <li class="fadeInUp ftco-animate ftco-animated">
				<a href=#>
				  <i class=icon-instagram>
				  </i>
				</a>
			</ul>
		  </div>
		</div>
		<div class=col-md>
		  <div class="ftco-footer-widget mb-4 ml-md-5">
			<h2 class=ftco-heading-2>Unseful Links
			</h2>
			<ul class=list-unstyled>
			  <li>
				<a href="/my-account/" class="d-block py-2">My Account
				</a>
			  <li>
				<a href=# class="d-block py-2">Privacy Policy
				</a>
			  <li>
				<a href=# class="d-block py-2">Terms And Conditions
				</a>
			</ul>
		  </div>
		</div>
		<div class=col-md>
		  <div class="ftco-footer-widget mb-4">
			<h2 class=ftco-heading-2>Navigational
			</h2>
			<ul class=list-unstyled>
			  <li>
				<a href="/" class="d-block py-2">Home
				</a>
			  <li>
				<a href="/about/" class="d-block py-2">About
				</a>
			  <li>
				<a href="/contact/" class="d-block py-2">Contact
				</a>
			</ul>
		  </div>
		</div>
		<div class=col-md>
		  <div class="ftco-footer-widget mb-4">
			<h2 class=ftco-heading-2>Office
			</h2>
			<div class="block-23 mb-3">
				<ul class="list-unstyled">
					<li>
					  <p>No. 16, South End, Bangalore – 560004</p>
					  <p>Contact Person: Prof. B.R. Chandrashekarappa (Principal)</p>
					  <p>Mobile Number:+91 9986718439/ 9108058650 / 9972277884</p>
					</li>
				</ul>				  
			</div>
		  </div>
		</div>
	  </div>
	  <div class=row>
		<div class="col-md-12 text-center">
		  <p>Copyright ©
			<script>document.write((new Date).getFullYear())</script> Surna College
		</div>
	  </div>
	</div>
  </footer>

  
 
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script> 
  <script src="/static/js/custom.js"></script>
  <script src="/static/js/quill.js"></script>
</body>
</html>