  <footer class="ftco-bg-dark ftco-footer ftco-section">
	<div class=container>
	  <div class="row mb-5">
		<div class=col-md>
		  <div class="ftco-footer-widget mb-4 bg-primary p-4">
			<h2 class=ftco-heading-2>Surana College LMS
			</h2>
			<p>Unlock the power of lifelong learning with Surana College LMS. Flexible, accessible, and ready when you are, our platform lets you pursue your passions and achieve your goals, no matter where you are in the world.</p>
		  </div>
		</div>
		<div class=col-md>
		  <div class="ftco-footer-widget mb-4 ml-md-5">
			<h2 class=ftco-heading-2>Useful Links
			</h2>
			<ul class=list-unstyled>
				{% if isLogin %}
					{% if role == "teacher" %}
				<li class="d-block py-2"><a href="/teacher-dashboard/">Teacher's Dashboard</a></li>
					{% else %}
				<li class="d-block py-2"><a href="/my-account/">My Account</a></li>
				{% endif %}
			  	{% else %}
				<li class="d-block py-2"><a href="/login/">Log In</a></li>
			  	{% endif %}
				<li><a href=# class="d-block py-2">Privacy Policy</a></li>
				<li><a href=# class="d-block py-2">Terms And Conditions</a></li>
			</ul>
		  </div>
		</div>
		<div class=col-md>
		  <div class="ftco-footer-widget mb-4">
			<h2 class=ftco-heading-2>Navigational
			</h2>
			<ul class=list-unstyled>
			  <li>
				<a href="/" class="d-block py-2">Home
				</a>
			  <li>
				<a href="/about/" class="d-block py-2">About
				</a>
			  <li>
				<a href="/contact/" class="d-block py-2">Contact
				</a>
			</ul>
		  </div>
		</div>
		<div class=col-md>
		  <div class="ftco-footer-widget mb-4">
			<h2 class=ftco-heading-2>Office
			</h2>
			<div class="block-23 mb-3">
				<ul class="list-unstyled">
					<li>
					  <p>No. 16, South End, Bangalore – 560004</p>
					  <p>Contact Person: Prof. B.R. Chandrashekarappa (Principal)</p>
					  <p>Mobile Number:+91 9986718439/ 9108058650 / 9972277884</p>
					</li>
				</ul>				  
			</div>
		  </div>
		</div>
	  </div>
	  <div class=row>
		<div class="col-md-12 text-center">
		  <p>Copyright ©
			<script>document.write((new Date).getFullYear())</script> Surna College
		</div>
	  </div>
	</div>
  </footer>

  
 
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script> 
  <script src="/static/js/custom.js"></script>
  <script src="/static/js/quill.js"></script>
</body>
</html>