{% include "header.html" %}
<div class="mx-auto w-50 py-5 px-5">
    <form action="/upload-video/" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label class="btn btn-block" style="background-color: transparent; border: 3px solid #421b9b;" for="file">Select A Video File</label> 
        <input type="file" class="form-control-file" id="file" name="file" accept="video/*" required hidden>        
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-block text-center">Upload the video</button>
    </form>
    <div class="container px-5 py-5">
      {% if message %}
      <div class="alert alert-danger">{{ message }}</div>
      {% endif %}
      <!-- Your form code here -->
    </div>    
  </div>
    
{% include "footer.html" %}